@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

body {
  font-family: 'Poppins', sans-serif;
}

/* Custom font classes */
.playfair-heading {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

.playfair-subheading {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.playfair-body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.poppins-body {
  font-family: 'Poppins', sans-serif;
}

